.BodyContent {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80vh;
    justify-content: flex-end;
}

.Sections {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
